/* .confirm-dialog-container .mat-dialog-container {
    border-radius: .25em .25em .4em .4em;
    padding: 0px;
}

.confirm-dialog-container .content-container{
    margin: 5px 5px 15px 5px ;
    color: #b5af8f;
    display: flex;
}

.confirm-dialog-container #close-icon{
    margin-left: auto;
    order: 2;
    font-weight: bolder;
}
#close-icon{
    align-self: flex-end;
} */