table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  
  
  
  .example-spacer {
    flex: 1 1 auto;
  }
  .container{
      max-width: 1200px;
      margin: 0 auto;
  }